:root {
    --red: #ff0000;
    --red-lower: rgb(255, 243, 243);
    --blue: #0000ff;
    --blue-lower: rgb(243, 243, 255);
    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--white);    
    font-size: 16px;
    padding: 1rem;
}

h1 {
    color: var(--black);
    font-size: 2em;
    margin-bottom: 1.25rem;
}

form {
    display: inline-block;
}

legend {
    background-color: transparent;
    color: var(--red);
    font-weight: bold;
}

fieldset {
    border: 1.5px solid var(--red);
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}

label {
    display: block;
}

input {
    margin: 0 0 .25rem 0;
    text-align: center;
    padding: 0.25rem 1rem;
    border: 1.5px solid var(--red);
    background-color: var(--red-lower);
    border-radius: 5px;
}

input[type="submit"] {
    margin-top: 1.5rem;
}

input:focus {
    background-color: #fff;
}